# ----------------------
# Flask
# ----------------------
flask


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn>=19.0.0
gevent
slackclient
virtualenv
neo4jrestclient
flask-triangle
nltk
