body, html, .container-fluid {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    /*background: #c2e59c; !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to left, #c2e59c, #64b3f4); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to left, #c2e59c, #64b3f4); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    background: url("/static/img/Seamless-Polygon-Backgrounds-Vol2/Seamless Polygon Backgrounds Vol2/Ready to use JPGs/01.jpg")
}

.center-heading {
    clear: both;
}

.center-title {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    float: left
}

.center-button {
    /*margin-left: 190px;*/
    margin-top: 3%;
}

/*.vertical-center {*/
/*display: inline-block;*/
/*vertical-align: middle;*/
/*float: none;*/
/*}*/

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titletext {
    /*padding-bottom: 13px;*/
    top: 13px;
    position: absolute;

}
.demo {
    color: inherit;
}

.titletext2 {
    /*padding-bottom: 13px;*/
    top: 13px;
    position: absolute;
    align-self: right;
    height: 100%;
    width: 100%;

}

.cover {
    text-align: center;
    top: 10%;
}

.cover-image-shadow {
    width: 70%;
    /*opacity: 1 !important;*/
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);

}

.cover-image {
    width: 70%;
    /*opacity: 1 !important;*/
}
.cover-image-top {
    width: 70%
    /*opacity: 1 !important;*/
}
.cover-image-msg {
    width: 100%;
    /*opacity: 1 !important;*/
}

.matches {
    height: 50%;
    /*opacity: 1 !important;*/
}

.intro-section {
    margin-top: 2%;
}

.features-section {
    margin-top: 2%;
    margin-bottom: 2%;
}

.faqs-section {
    margin-top: 2%;
    margin-bottom: 2%;
}

.intro-div {
    background: white;
    opacity: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.faqs-div {
    background: white;
    opacity: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.features-div {
    background: #FF9800;
    opacity: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.features-div2 {
    background: #008aaf;
    opacity: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fill-center {
    height: inherit;
}

.adjust {
    left: 23%;
    position: relative;
}

.logo {
    height: 100px;
    background: radial-gradient(#cedade 60%, #0092b3 90%);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    top: 10px;
    position: absolute;
}

.internal-list {
    overflow-y: scroll;
    height: 90%;
    color: white;
}
.internal-list-small {
    background-color: #b0b0b0;
}

.slackbutton {
    margin-top: 7%;
}

.internal-list-full {
    overflow-y: scroll;
    height: 92%;
    color: white;
}

#left {
    /*background-color: #FC6E51;*/
    text-align: center;
    height: 95%;
    padding: 20px;
}

.buttonrow {
    width: 100%;
}

.buttontogether {
}

.graph {
    width: 100%;
    height: 100%;
    background: none;
!important;
    background-color: rgba(0, 0, 0, 0.5) !important;

}

#middle {
    /*background-color: #FC6E51;*/
    text-align: center;
    height: 95%;
    padding: 20px;

}

#right {
    /*height: 95%;*/
    height: 55%;
    /*background-color: #4FC1E9;*/
    text-align: center;
    padding: 20px;
}

#category {
    height: 88%;
}

.within-full {
    height: 100%;
    width: 100%;
    color: white;
}
.within-short {
    height: 75%;
    width: 100%;
    color: white;
    margin-top: 10%
}
.connect {
    background-color: ghostwhite;
    color: black;
}
.connect-row {
    height:10%;
}
.comparison {
    height: 45%;
}
.fill-height {
    height: 100%;
}
.select-button {
    margin-top: 5%;
    font-size: 16px;
}
.tag-button {
    margin: 2%;
    font-size: 12px;
}
.tags-row {
    height: 70%;
    overflow-y: scroll;
}
.score-row {
    height: 10%;
    margin-top: 5%;
}
.center-comparison{
    background: lightskyblue;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius: 10px;
}
.empty {
    top: 20%;
    position: relative;
}
.introText {
    width: 100%;
    height: 20%;
    margin-top: 2%;
    border: 1px solid #3c3c3c;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding: 6px 12px;
}
.text-area {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.categorystyle:hover {
    background: #3B84C3 !important;
    /*display: inline-flex !important;*/
    /*margin-top: auto !important;*/
}

.magicbutton {
    margin-top: 5%;
}
/*** custom checkboxes ***/

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */