<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block title %}percey.com{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.ico">
    {#    <!-- Compiled and minified CSS -->#}
    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">#}
    {##}
    {#    <!-- Compiled and minified JavaScript -->#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>#}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="../static/app/homecontroller.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="../static/css/appmain.css">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet/less" href="/static/css/main.less">
    <link rel="stylesheet" href="../static/js/0.4.1/styles/vendor.css">
    <link rel="stylesheet" href="../static/js/0.4.1/alchemy.css">
    {#    <link rel="stylesheet" href="../static/js/0.4.1/alchemy-white.css">#}
    {% block css %}{% endblock %}

    <!-- Rather use `less.js` to dynamically compile your `stylesheet/less` files? -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>
    <script> window.less || document.write('<script src="/static/js/less.js">\x3C/script>')</script>

</head>

<body ng-app="myApp">

{#<header>#}
{#    {% include "header.html" %}#}
{#</header>#}

<div ng-controller="HomeCtrl" class="container-fluid">
    <div class="row" style="height: 100px;">
        <div class="col-xs-3 col-md-1">
            <img class="logo" src="/static/img/logo2.png">
        </div>
        <div style="height: 100px;" class="col-xs-3 col-md-3 ">
            <h1 class="titletext">Percey</h1>
        </div>
        <div style="height: 100px;" class="col-xs-1 col-md-4"></div>
        <div class="col-xs-4 col-md-4 ">
            <a class="pull-right slackbutton"
               href="https://slack.com/oauth/authorize?scope=incoming-webhook&client_id=48970123489.62947640688"><img
                    alt="Add to Slack" height="40" width="139"
                    src="https://platform.slack-edge.com/img/add_to_slack.png"
                    srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"/></a>
        </div>
    </div>
    <div class="intro-section row">
        <div class="col-xs-1 col-md-1"></div>
        <div class="intro-div col-xs-10 col-md-10">
            <div class="col-xs-10 col-md-6 cover">
                <h2>1. Understand your community</h2>
                <img class="cover-image" src="/static/img/perceydash.PNG">
                <div>

                    <button class="btn btn-success center-button">Learn More</button>
                </div>
            </div>
            <div class="col-xs-10 col-md-6 cover">
                <h2>2. Create connections
                </h2>
                <img class="cover-image-shadow" src="/static/img/connect.png">
                <div>
                    <button class="btn btn-success center-button">Learn More</button>
                </div>
            </div>
        </div>
        <div class=" col-xs-1 col-md-1"></div>
    </div>
    <div class="features-section row">
        <div class="col-xs-1 col-md-1"></div>
        <div class="features-div col-xs-10 col-md-10">
            <div class="col-xs-10 col-md-4 cover ">
                <img class="cover-image" src="/static/img/octocat.png">
                <h4>1. Percey processes message History and Real-time</h4>
            </div>
            <div class="col-xs-10 col-md-4 cover">
                <img class="cover-image" src="/static/img/octocat.png">
                <h4>2. Percey Learns from Users</h4>
            </div>
            <div class="col-xs-10 col-md-4 cover">
                <img class="cover-image" src="/static/img/octocat.png">
                <h4>3. Builds Group Model To Explore</h4>
            </div>
        </div>
        <div class=" col-xs-1 col-md-1"></div>
    </div>
    <div class="features-section row">
        <div class="col-xs-1 col-md-1"></div>
        <div class="features-div2 col-xs-10 col-md-10">
            <div class="col-xs-10 col-md-4 cover">
                <img class="cover-image" src="/static/img/octocat.png">
                <h4>1. Select suggested Member match</h4>
            </div>
            <div class="col-xs-10 col-md-4 cover">
                <img class="cover-image" src="/static/img/octocat.png">
                <h4>2. Write the intro</h4>
            </div>
            <div class="col-xs-10 col-md-4 cover">
                <img class="cover-image" src="/static/img/octocat.png">
                <h4>3. Percey connects them on your behalf</h4>
            </div>

        </div>
        <div class=" col-xs-1 col-md-1"></div>
    </div>
    <div class="faqs-section row">
        <div class="col-xs-1 col-md-1"></div>
        <div class="faqs-div col-xs-10 col-md-10">
            <div class="row">
                <div class="col-xs-1 col-md-12">
                    <h2>FAQs</h2>
                </div>
            </div>

            <button ng-click="q1 = !q1">Question 1</button>
            <button ng-click="q2 = !q2">Question 2</button>
            <button ng-click="q3 = !q3">Question 3</button>
            <button ng-click="q4 = !q4">Question 4</button>
            <button ng-click="q5 = !q5">Question 5</button>
            <button ng-click="q6 = !q6">Question 6</button>
            <div id="demo" ng-show="q1" >
                Answer 1
            </div>
            <div id="demo" ng-show="q2" >
                Answer 2
            </div>
            <div id="demo" ng-show="q3" >
                Answer 3
            </div>

            <div id="demo" ng-show="q4" >
                Answer 4
            </div>
            <div id="demo" ng-show="q5" >
                Answer 5
            </div>
            <div id="demo" ng-show="q6" >
                Answer 6
            </div>
        </div>
        <div class=" col-xs-1 col-md-1"></div>
    </div>
    <div class="footer-section">

    </div>
</div>

{#<footer>#}
{#    {% include "footer.html" %}#}
{#</footer>#}


<!-- JavaScript at the bottom for fast page loading -->

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/libs/jquery.js">\x3C/script>')</script>


<!-- Additional JavaScript libraries and plugins... -->
{% block js %}{% endblock %}


<!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
<script>
    var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.async = 1;
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>


<!-- Prompt IE < 8 users to install Chrome Frame.  -->
<!--[if lt IE 8 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
